---
import { Image, Picture } from "@astrojs/image/components";
import header1 from "../../public/images/header1.jpg";
---

<header class="header">
  <div class="header-container-navbar">
    <p>logo</p>
    <nav class="header-navbar">
      <a class="navLink" href="#">Inicio</a>
      <a class="navLink" href="#">Trabajo</a>
      <a class="navLink" href="#">Contacto</a>
      <div class="header-tel">
        <p>Logo Telefono</p>
        <a class="header-number" href="tel:+4612345678"> 4612345678</a>
      </div>
    </nav>
  </div>

  <div class="header-content">
    <h1 class="title-header-content">
      Providing a professional & rewaible Services
    </h1>
    <p class="content-header">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio saepe,
      voluptas, dolorem qui architecto sequi,
    </p>
    <a class="button-yellow" href="#">Ver mas</a>
  </div>

  <div class="header-images">
    <!-- <Image
      class="image-header-dev"
      src={header1}
      alt="imagen header"
      height={320}
      width={500}
    /> -->
    <!-- <Image
      class="image-header-lap"
      src={header1}
      alt="imagen header"
      height={320}
      width={500}
    />  -->
  </div>
  
</header>
